*{
    font-family: 'poppins' , 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 1.8em;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500px;
    padding-left: 30px;
}
.navigation a:hover{
    color: #00FFFF;
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #FFF;
    font-size: 1.1em;
    font-weight: 500px
    ;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600px;
}
.main h3{
    color: #FFF;
    font-size: 2em;
    font-weight: 700px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    background-color: #3a6cf4;
    color: #FFF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600px;
    display: inline-block;
    padding: 1em 2.2em;
    letter-spacing: 1px;
    border-radius: 30px;
    margin-bottom: 40px;
    transition: 0.7 ease;
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #FFF;
    font-size: 1.7em;
    padding-right: 30px;
}


